<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outwit.edoctor.infrastructure.mapper.UserMapper">

    <insert id="createUser" parameterType="User">
        INSERT INTO t_user (id,name,telephone,type,password,salt,create_date,last_access)
              VALUES (#{id},#{name},#{telephone},#{type},#{password},#{salt},#{createDate},#{lastAccess})
    </insert>

    <update id="updateUserPassword" parameterType="User">
        UPDATE t_user SET password = #{password},salt = #{salt} WHERE telephone = #{telephone}
    </update>

    <select id="hasUser" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(*) FROM t_user WHERE telephone = #{telephone}
    </select>


    <select id="fetchUser" resultType="User">
        SELECT * FROM t_user WHERE telephone = #{telephone}
    </select>

    <select id="fetchRoles" resultType="com.outwit.edoctor.domain.UserType">
        SELECT type FROM t_user WHERE telephone = #{telephone}
    </select>


</mapper>